*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{
    width: 100%;
}

.container{
    max-width: 1024px;
    min-height:600px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid black ;
    padding:2px;
    display: flex;
    flex-direction: column;
}

/* .navbar{
    border: 1px solid red ;
    height: 50px;
    display:flex;
    justify-content: space-between;
} */

.mainContainer{
    flex-grow: 1;
    display:flex;
    flex-direction: row;
}

.sidebar{
    min-width: 40%;
    border: 1px solid blue;
    display:flex;
    flex-direction: column;
}

.navbar{
    height: 45px;
    border: 1px solid yellowgreen;
    display:flex;
    align-content: center;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 5px;

}

.cont-img{
    display: flex;
    align-items: center;
    gap:5px;
    
}

.cont-img img {
    width:25px;
    overflow: hidden;
    border-radius:50px;
}

.sidecontent{
    flex-grow: 1;
    border: 1px solid lightpink;
}

.wrapButton{
    display: flex;
    align-items: center;
}

/* section right */

.menuChat{
    flex-grow: 1;
    border: 1px solid ;
    display:flex;
    flex-direction: column;
}
.infoUser{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 4px;
    
}
.infoUser h5{
    text-align: left;
}
.ultimoAccesso{
    font-size:12px;    
}




