/* utilities */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{
    width: 100%;
}

.sent{
    color: black ;
    background-color:whitesmoke;
}

.received{
    color: black ;
    background-color:lightgreen;
}

/* body   */

.container{
    max-width: 1024px;
    min-height:600px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid black ;
    padding:2px;
    display: flex;
    flex-direction: column;
}

/* .navbar{
    border: 1px solid red ;
    height: 50px;
    display:flex;
    justify-content: space-between;
} */

.mainContainer{
    flex-grow: 1;
    display:flex;
    flex-direction: row;
}

.sidebar{
    min-width: 40%;
    display:flex;
    flex-direction: column;
}

.navbar{
    height: 45px;
    display:flex;
    align-content: center;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #F0F2F5;

}

.sidebar{
    border-right: 1px solid gray;
}

.cont-img{
    display: flex;
    align-items: center;
    gap:5px;
    
}

.cont-img img {
    width:25px;
    overflow: hidden;
    border-radius:50px;
}
.wrapButton{
    display: flex;
    align-items: center;
}

.sidecontent{
    flex-grow: 1;
    background-color:#EFEAE2;
    
}
.notification{
    min-height: 50px;
    padding: 5px 5px;
    background-color: rgb(121, 204, 231);
}
.notifiche{
    display: flex;
    align-items: center;
    padding:10px 0;
    gap:5px;
}
.contIcon{
    border-radius:9999px;
    background-color:white;
    color:rgb(121, 204, 231);
    text-align:center;
    padding: 8px;
}
.contNotifiche{
    display: flex;
    flex-direction: column;
    align-items: start;  
    gap:2px;
}
.textNews{
    font-weight:bold;
    font-size:14px;
}
.subtitleNews{
    font-size:12px;
    text-decoration: underline;
    color:gray;
}

.iconSearch i{
    padding: 1px;
    background-color: red;
    height:20.4px;
    
}

/* section right */

.menuChat{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
}
.findUser{
    padding:10px;
   
}

.iconSearch input{
    width:90%;
}
.infoUser{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 4px;
    
}
.infoUser h5{
    text-align: left;
}
.ultimoAccesso{
    font-size:12px;    
}




