<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/fontawesome.min.css"
        integrity="sha512-Rcr1oG0XvqZI1yv1HIg9LgZVDEhf2AHjv+9AuD1JXWGLzlkoKDVvE925qySLcEywpMAYA/rkg296MkvqBF07Yw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <section class="cont-background">
        <div class="background">
            <section id="app" class="container">

                <main class="mainContainer">
                    <div class="sidebar">
                        <header class="navbar navSidebar">

                            <figure class="cont-img">
                                <img src="img/img-profile.png" alt="">

                            </figure>
                            <div class="wrapButton">
                                <div class="controls">
                                    <i class="fas fa-circle-notch"></i>
                                    <i class="fa-solid fa-comment"></i>
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                        </header>
                        <div class="cont_mess">
                            <div class="notification">
                                <figure class=" notifiche">
                                    <div class="contIcon">
                                        <i class="fa-solid fa-microphone-lines-slash"></i>
                                    </div>
                                    <div class="contNotifiche">
                                        <span class="textNews">Ricevi le notifiche di nuovi utenti</span>
                                        <span class="subtitleNews">Attiva notifiche desktop</span>
                                    </div>
                                </figure>
                            </div>

                            <div class="findUser">

                                <div class="iconSearch">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <input type="text" name="" id="" placeholder="Cerca o inizia una nuova chat">
                                </div>
                            </div>
                            <div class="chatArchiviate">
                                <span><i class="fas fa-chevron-down"></i></span>
                                <p class="taskArchiviate">Archiviate</p>
                            </div>
                            <div v-for="element in contacts" @click="selectContact(element)" class="cont-mess" >
                                <div class="user">
                                    <div class="imgUser">
                                        <img :src="element.avatar" alt="">
                                    </div>
                                    <div class="infoChat">
                                        <div class="viewMessage">
                                            <h4 class="nameContact">{{element.name}}</h4>
                                            <span class="messageContact">
                                                <span><i class="fa-solid fa-check"></i></span> last message
                                            </span>
                                       </div>
                                        <div class="infoChatUser">
                                            <span class="lastConn">10:00</span>
                                            <span><i class="fa-solid fa-volume-xmark"></i></span>
                                            <!--  -->
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- view right  -->
                    <div v-if="activeContact"  class="menuChat">

                        <header  class="navbar navMenuchat">
                            <div class="activeContact activeC">
                                <figure  class="cont-img">

                                    <img src="img/avatar2.png" alt="">

                                    <div  class="infoUser activeInfo">
                                        <h5 >{{activeContact.name}}</h5>
                                        <span id="accesso" class="ultimoAccesso">Ultimo accesso oggi alle 10.32</span>
                                    </div>
                                </figure>
                            </div>

                            <div class="wrapButton">
                                <div class="controls wrapControls">
                                    <div class="chat-type">
                                        <i class="fas fa-video"></i>
                                        <i class="fas fa-phone-alt"></i>
                                    </div>
                                    <div class="chat-command">
                                        <i class="fas fa-search"></i>
                                        <i class="fas fa-chevron-down"></i>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <!-- chat -->
                        <div class="sidecontent sidecontentChat">
                            <div class="messagesChat">
                                <div v-for="element in activeContact.messages" class="mess" :class="element.status">
                                    {{element.message}}
                                    <span class="elementDate">{{ getHours (element.date) }}</span>
                                </div>
                               
                            </div>

                            <div class="inputMessage">
                                <div>
                                    <i class="far fa-smile"></i>
                                    <i class="fas fa-paperclip"></i>
                                </div>

                                <div class="form-input">
                                    <input type="text" class="form-message" name="" id="" placeholder="Inserisci un messaggio">
                                </div>

                                <div>
                                    <i class="fas fa-microphone"></i>
                                </div>
                            </div>
                        </div>
                   </div>
                </main>

            </section>
        </div>
    </section>


    <script src="js/app.js"></script>
</body>

</html>